.container {
  min-height: 100vh;
  height: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.perception {
  background-color: #df7260;
}

.connection {
  background-color: #d56152;
}

.reflection {
  background-color: #cb5c4d;
}

/* .Header {
    text-align: center;
    background-color: #cb5c4d;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    line-height: 60px;
    align-items: center;
  } */
