.Landing {
  text-align: center;
  overflow: hidden;
}

.Landing-header {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Landing-header h1 {
  position: absolute;
  width: 585px;
  height: 105px;
  left: calc(50% - 585px / 2 + 0.5px);
  top: calc(50% - 105px / 2 - 181.5px);
  color: #e27d6b;
}

.Landing-header p {
  position: absolute;
  width: 837px;
  height: 164px;
  left: calc(50% - 837px / 2 + 0.5px);
  top: calc(50% - 164px / 2 - 30px);
  color: #282828;
  /* change color here  */
}
